{% set ramdon = random() %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {#<link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/themes/prism.min.css" rel="stylesheet" />#}
        {#<link href="{{ asset('plugins/prism/synthwave.css') }}" rel="stylesheet" />#}
        {#https://raw.githubusercontent.com/PrismJS/prism-themes/master/themes/prism-synthwave84.css#}
        {#https://raw.githubusercontent.com/PrismJS/prism-themes/master/themes/prism-material-oceanic.css#}
        {#https://raw.githubusercontent.com/PrismJS/prism-themes/master/themes/prism-duotone-dark.css#}
        {#https://raw.githubusercontent.com/PrismJS/prism-themes/master/themes/prism-xonokai.css#}

        <link href="{{ asset('plugins/prism/prism.css') }}" rel="stylesheet" />
   
     
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&display=swap" rel="stylesheet">
        <link href="{{ asset('build/wenly/css/app.css?v=' ~ ramdon ) }}" rel="stylesheet" type="text/css">
        {#<link href="{{ asset('build/css/app.css?v=' ~ ramdon ) }}" rel="stylesheet" type="text/css">#}
        {# {{ encore_entry_link_tags('tailwind') }}#}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
       <style>
            [data-language="html"]{
                font-size:14px
            }
       </style>
    </head>
    <body>
        {% block body %}
        
        {% endblock %}
        <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>

        {% block javascripts %}{% endblock %}
        <script src="https://www.entrekids.cl/assets/js/prism/prism.js"></script>
        <script>
            
            var codeBlocks = document.querySelectorAll("code.html-markup");
            for (var i = 0; i < codeBlocks.length; i++) {
                codeBlocks[i].innerHTML = codeBlocks[i].innerHTML.replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/"/g, "&quot;").replace(/'/g, "&#039;");
            }
        
        </script>
       
       
        {#<script id="__bs_script__">//<![CDATA[
            document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.27.9'><\/script>".replace("HOST", location.hostname));
        //]]></script>#}
       {# <script type="text/javascript" src="{{ asset('build/js/app.js?v=' ~ ramdon ) }}"></script>#}
    </body>
</html>
